@import './../../assets/mixins.less';

div {
    &.btns {
        margin-top: 15px;
        margin-bottom: 15px;
        button {
            &.tabs {
                margin-top: 15px;
                height: 40px;
                width: 160px;
                margin-right: 5px;
                background: @cinzaClaro;
                border: none;
                border-radius: 7px;
                color: @branco;
                font-family: Helvetica, sans-serif;
                font-size: 17px;
                outline: none;
                transition: background 0.25s ease-in-out;
                &.ativo {
                    background: @laranjaEscuro;
                    &:hover {
                        background: #ec5105c7;
                    }
                }
                @media (max-width: 524px) {
                    width: 100%;
                }
                &:hover {
                    background: #666666d6;
                }
            }
        }
    }
}