@import './../../assets/mixins.less';

div {
    &.thumb {
        height: 64px;
        width: 64px;
        background: @cinzaClaro;
        display: inline-block;
    }
    &.noticia {
        display: flex;
        align-items: center;
        img {
            width: 64px;
            height: 100%;
        }
    }
    &.content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        margin-left: 10px;
        span, a, p, h1 {
            margin: 0;
        }
        h1 {
            font-family: Helvetica, sans-serif;
            font-size: 16px;
            font-weight: bold;
        }
        span, a, p {
            font-family: Helvetica, sans-serif;
            font-size: 12px;
        }
        span {
            &.usuario {
                color: @laranjaEscuro;
            }
            &.dominio {
                color: @defaultTextColor;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

li {
    border-bottom: 1px solid #707070;
    padding: 10px 0;
    transition: background 0.1s ease-in-out;
    &:hover {
        background: #eee;
    }
    &:last-child {
        border: none;
    }
    a {
        &.linkNoticia {
            color: @defaultTextColor;
            text-decoration: none;
        }
        &:visited,
        &:link {
            text-decoration: none;
        }
    }
}