div.thumb {
  height: 64px;
  width: 64px;
  background: #666;
  display: inline-block;
}
div.noticia {
  display: flex;
  align-items: center;
}
div.noticia img {
  width: 64px;
  height: 100%;
}
div.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 10px;
}
div.content span,
div.content a,
div.content p,
div.content h1 {
  margin: 0;
}
div.content h1 {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
div.content span,
div.content a,
div.content p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
div.content span.usuario {
  color: #ec5105;
}
div.content span.dominio {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
li {
  border-bottom: 1px solid #707070;
  padding: 10px 0;
  transition: background 0.1s ease-in-out;
}
li:hover {
  background: #eee;
}
li:last-child {
  border: none;
}
li a.linkNoticia {
  color: #000;
  text-decoration: none;
}
li a:visited,
li a:link {
  text-decoration: none;
}
